**/M5.5_ESSI_Earthquake.drminput
**/petsc_log.txt
**/RealESSI_VERSION_INFO.txt
**/*.feioutput
**/vtk_errors.txt
**/gmon.out

**/*.h5.*.feioutput 

**/essi_*.log 
**/log 
**/*.pyc 
**/*_RESTART.essi

**/*.swp
**/*.csv

# Readme Preview
**/*.html




# Executables
**/*.exe
**/*.out
**/*.app

# Prerequisites
**/*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
**/*.mod
**/*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib






